.containerFieldset {
    display: flex;
    flex-direction: column;
}

.journalDateStyling {
    background-color: #FF3B3F;
}

.conceptsStyling {
    background-color: #A9A9A9;
}

.entryStyling {
    background-color: #EFEFEF;
}

.moodStyling {
    background-color: #CAEBF2;
}

.entryBtnStyling {
    background-color: #A9A9A9;
}

.radioStyling {
    background-color: #EFEFEF;
}

#mypick {
    font-weight: bold;
}